.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100vh; /* This ensures that the container takes the full height of the viewport */
}
.custom-card-width{
  width: 500px !important;
}
.mat-mdc-text-field-wrapper.mdc-text-field.ng-tns-c1205077789-0.mdc-text-field--filled {
  width: 450px !important;
}

.mat-form-field.mat-mdc-form-field.example-full-width.ng-tns-c1205077789-0.mat-mdc-form-field-type-mat-input.mat-form-field-appearance-fill.mat-form-field-hide-placeholder.mat-primary.ng-star-inserted {
    width: 500px !important;
  }
.custom-wire
{
  color: white !important;
  background-color: #321fdb;
  border-radius: 25px;
  padding: 8px 32px;
  margin-bottom: 8px;
}
