<h2 class="text-center">Add funds to your accounts</h2>
<div class="center-container">
  <div>
    <mat-card class="custom-card-width">
      <h2 class="p-2">Wire Transfer</h2>
      <h6 class="p-2">Arrives in 1-2 business days.</h6>
      <div>
        <h4 class="p-2">Receiving account</h4>
        <mat-form-field class="w-100 px-2">
          <select matNativeControl required>
            <option value="payroll-two">Ops/ Payroll $2,023,267.12/Checking ••1038</option>
            <option value="payroll-one">AP/Payroll $5,3755,86.12/Checking ••1238</option>
            <option value="payroll-two">Ops/ Payroll $2,023,267.12/Checking ••1915</option>
            <option value="payroll-three">AP/Payroll $5,3755,86.12/Checking ••1238</option>
            <option value="payroll-four">Ops/ Payroll $2,023,267.12/Checking ••1426</option>
          </select>
        </mat-form-field>
      </div>
      <div>
        <form class="example-form">
          <div class="d-flex">
            <mat-form-field class="example-full-width p-2">
              <mat-label>Routing number</mat-label>
              <input matInput placeholder="132456789" >
            </mat-form-field>
            <mat-form-field class="example-full-width p-2">
              <mat-label>Account number</mat-label>
              <input matInput placeholder="••••••••9102" >
            </mat-form-field>
          </div>
      </form>
    </div>
    <div class="p-2">
      <a mat-button href="https://www.google.com/" target="_blank" class="custom-wire">Wire Instructions</a>
    </div>
    </mat-card>
  </div>
</div>
