<div class="d-flex">
  <h1 class="px-3">Cards</h1>
  <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle custom-filter-button" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white;
      background-color: #321fdb;
      border-radius: 25px;
    ">
     Add Card
    </a>
    <ul class="dropdown-menu">
      <li class="p-3"><a class="dropdown-item" [routerLink]="['/pay-someone']">Standard Card</a></li>
      <li class="p-3"><a class="dropdown-item" [routerLink]="['/add-receive-funds']">Merchant Card</a></li>
    </ul>
  </div>
</div>
<div class="table-reponsive">
  <table class="table">
    <thead>
      <tr>
        <th>Cardholder</th>
        <th>Card</th>
        <th>Spent this month</th>
        <th>Type</th>
        <th>Account</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Jane Black</td>
        <td>••4928 Grocery/Meals</td>
        <td>$10,789.00</td>
        <td> Virtual	Checking</td>
        <td>Checking ••0297</td>
      </tr>
      <tr>
        <td data-name="Jane Black"></td>
        <td>••4928 Grocery/Meals</td>
        <td>$119,9.00</td>
        <td>Physical</td>
        <td>Credit</td>
      </tr>
      <tr>
        <td data-name="Jane Black"></td>
        <td>••4928 Office Supplies</td>
        <td>$10,789.00</td>
        <td> Virtual	Checking</td>
        <td>Checking ••0297</td>
      </tr>
      <tr>
        <td data-name="Jane Black"></td>
        <td>••4928 Summer Intent Card</td>
        <td>$10,789.00</td>
        <td>Physical</td>
        <td>Checking ••0297</td>
      </tr>
      <tr>
        <td data-name="Jane Black"></td>
        <td>••4928 Office Supplies</td>
        <td>$10,789.00</td>
        <td>Physical</td>
        <td>Credit</td>
      </tr>
      <tr>
        <td data-name="Jane Black"></td>
        <td>••4928 Grocery/Meals</td>
        <td>$10,789.00</td>
        <td>Physical</td>
        <td>Credit</td>
      </tr>
      <tr>
        <td data-name="Jane Black"></td>
        <td>••4928 Grocery/Meals</td>
        <td>$10,789.00</td>
        <td> Virtual	Checking</td>
        <td>Checking ••0297</td>
      </tr>
      <tr>
        <td data-name="Jane Black"></td>
        <td>••4928 Summer Intent Card</td>
        <td>$10,789.00</td>
        <td> Virtual	Checking</td>
        <td>Checking ••0297</td>
      </tr>
      <tr>
        <td data-name="Jane Black"></td>
        <td>••4928 Office Supplies</td>
        <td>$10,789.00</td>
        <td> Virtual	Checking</td>
        <td>Checking ••0297</td>
      </tr>
      <tr>
        <td data-name="Jane Black"></td>
        <td>••4928 Summer Intent Card</td>
        <td>$13,9023.00</td>
        <td>Physical</td>
        <td> Checking ••8921</td>
      </tr>
      <tr>
        <td data-name="Jane black"></td>
        <td>••82167 Office Supplies</td>
        <td>$16,945.00</td>
        <td>Virtual Checking</td>
        <td>Credit</td>
      </tr>
    </tbody>
  </table>
</div>
