.table tbody tr td:first-child::before {
  content: attr(data-date);
  display: none;
  padding: 5px;
}

.table tbody tr:hover td:first-child::before {
  display: block;
}
.custom-wire
{
  color: white !important;
  background-color: #3c4b64;
  border-radius: 25px;
  padding: 8px 32px;
  margin-bottom: 8px;
}

