<div class="table-reponsive">
  <table class="table">
    <thead>
      <tr>
        <th>Created On</th>
        <th>Contact</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Account</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Oct 27</td>
        <td>Charles Bonito</td>
        <td>$7,500.00</td>
        <td>Active</td>
        <td>Ops / Payroll</td>
      </tr>
      <tr>
        <td>Oct 27</td>
        <td>Charles Bonito</td>
        <td>$7,500.00</td>
        <td>Paid</td>
        <td>Ops / Payroll</td>
      </tr>
      <tr>
        <td>Oct 27</td>
        <td>Charles Bonito</td>
        <td>$7,500.00</td>
        <td>Paid</td>
        <td>Ops / Payroll</td>
      </tr>
      <tr>
        <td>Oct 27</td>
        <td>Charles Bonito</td>
        <td>$7,500.00</td>
        <td>Active</td>
        <td>Ops / Payroll</td>
      </tr>
      <tr>
        <td>Oct 27</td>
        <td>Charles Bonito</td>
        <td>$7,500.00</td>
        <td>Inactive</td>
        <td>Ops / Payroll</td>
      </tr>
      <tr>
        <td>Oct 27</td>
        <td>Charles Bonito</td>
        <td>$7,500.00</td>
        <td>Active</td>
        <td>Ops / Payroll</td>
      </tr>
      <tr>
        <td>Oct 27</td>
        <td>Charles Bonito</td>
        <td>$7,500.00</td>
        <td>Paid</td>
        <td>Ops / Payroll</td>
      </tr>

    </tbody>
  </table>
</div>
