<div class="d-flex">
  <h2>Requests</h2>
  <a mat-button [routerLink]="['/payment-request']" target="_blank" class="custom-wire mx-2">Request Payment</a>
</div>
<div class="table-reponsive">
  <table class="table">
    <thead>
      <tr>
        <th>Created On</th>
        <th>Contact</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Account</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Oct27</td>
        <td>Charles Bonito</td>
        <td>$7,500.00</td>
        <td>Active</td>
        <td>Ops / Payroll</td>
      </tr>
      <tr>
        <td data-date="Oct27"></td>
        <td>Charles Bonito</td>
        <td>$7,500.00</td>
        <td>Active</td>
        <td>Ops / Payroll</td>
      </tr>
      <tr>
        <td data-date="Oct27"></td>
        <td>Charles Bonito</td>
        <td>$7,500.00</td>
        <td>Paid</td>
        <td>Ops / Payroll</td>
      </tr>
      <tr>
        <td data-date="Oct27"></td>
        <td>Charles Bonito</td>
        <td>$7,500.00</td>
        <td>Paid</td>
        <td>Ops / Payroll</td>
      </tr>
      <tr>
        <td data-date="Oct28"></td>
        <td>Charles Bonito</td>
        <td>$9,424.92</td>
        <td>Paid</td>
        <td>Ops / Payroll</td>
      </tr>
      <tr>
        <td data-date="Oct29"></td>
        <td>Aleena</td>
        <td>$5,834.00</td>
        <td>Active</td>
        <td>Ops / Payroll</td>
      </tr>
      <tr>
        <td data-date="Nov2"></td>
        <td>Jennifer</td>
        <td>$7,9044.00</td>
        <td>Paid</td>
        <td>Ops / Payroll</td>
      </tr>
    </tbody>
  </table>
</div>
