
<div class="center-container">
  <div>

        <form [formGroup]="myForm"  (ngSubmit)="onSubmit()">
          <div class="text-center px-5 mb-5 mt-5 create-payment-title">Create a Payment Request</div>
            <h4 class="fw-bold">Contact Details</h4>
            <p class="mb-4">Select an existing contact or create one by entering their name and email below.</p>

              <div>
                <span class="">Send payment request to</span>
                <mat-form-field class="w-100" appearance="outline">
                  <mat-select required formControlName="contact">
                    <mat-option *ngFor="let option of paymentTooptions" [value]="option.value">
                      {{ option.label }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div>

                <!-- <div class="d-flex">
                  <div class="mr-3">

                    <label class="mat-form-field-label">Name</label>
                    <mat-form-field class="w-40 " appearance="outline">
                      <input matInput placeholder="John Doe" class="pr-3" required>
                    </mat-form-field>
                  </div>
                  <div>
                    <label class="mat-form-field-label">Email</label>
                    <mat-form-field class="w-40 " appearance="outline">
                      <input matInput placeholder="example@gmail.com" required>
                    </mat-form-field>
                  </div>
                </div> -->

                    <!-- <mat-divider></mat-divider> -->
                  <h4 class="fw-bold">Request Details</h4>
                  <span class="">Amount</span>
                  <div class="d-flex">
                    <mat-form-field class="w-100" appearance="outline">
                    <input matInput placeholder="$ 0.00" formControlName="amount"  required>
                  </mat-form-field>
                  </div>
                  <div>
                    <span class="">Due Date</span>
                    <mat-form-field class="w-100" appearance="outline">
                      <input matInput [matDatepicker]="picker" formControlName="dueDate">
                      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                <div>
                  <span class="">Company name to show on request </span>
                  <mat-form-field class="w-100 " appearance="outline">
                    <mat-select  required formControlName="company">
                      <mat-option *ngFor="let option of nameOptions" [value]="option.value">
                        {{ option.label }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div>
                  <span class="">Destination Account</span>
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Select Account</mat-label>
                    <mat-select  required formControlName="destinationAccount">
                      <mat-option *ngFor="let option of destinAccountOptions" [value]="option.value">
                        {{ option.label }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div>
                  <span class="">Notes / attachments (optional)</span>
                  <mat-form-field class="w-100" appearance="outline">
                  <textarea matInput placeholder="Invoice #114, Payment for research project, etc." rows="3" cols="50"></textarea>
                </mat-form-field>
                </div>
                <div>
                  <span class="">Attachment:</span>
               <mat-form-field class="w-100" appearance="outline">
                      <input matInput placeholder="Choose a file" readonly>
                      <mat-icon matSuffix>attach_file</mat-icon>
                      <input  type="file" style="display: block;">
                    </mat-form-field>
                </div>


                <div class="d-flex">
                  <a mat-button [routerLink]="['/dashboard']" target="_blank" class="custom-wire">Go Back</a>
                  <button class="custom-wire mx-2" type="submit">Submit</button>
                </div>

            </div>

          </form>

  </div>
</div>
