<div class="d-flex">
  <h1 class="px-3">Accounts</h1>
  <!-- <a mat-button (click)="toggleForm()">Transfer Funds</a> -->
 <a mat-button [routerLink]="['/send-money-transfer-funds']">Transfer Funds</a>
  <!-- <a mat-button (click)="openForm()">Transfer Funds</a> -->
</div>
<mat-tab-group>
  <mat-tab label="Neo Capital Accounts">  <mat-card-content>
    <div fxLayout="column" fxLayoutGap="20px">
      <mat-form-field>
        <mat-label>Input</mat-label>
        <input matInput>
      </mat-form-field>
      <h5 class="mb-0 fw-bold">Transfer From:</h5>
      <mat-form-field>
        <mat-label>Select an account</mat-label>
        <mat-select>
          <mat-option value="one">Account Details</mat-option>
          <mat-option value="two">Account Details</mat-option>
        </mat-select>
      </mat-form-field>
      <h5 class="mb-0 fw-bold">Transfer To:</h5>
      <mat-form-field>
        <mat-label>Select an account</mat-label>
        <mat-select>
          <mat-option value="one">Account Details</mat-option>
          <mat-option value="two">Account Details</mat-option>
        </mat-select>
      </mat-form-field>
      <h5 class="mb-0 fw-bold">Message</h5>
      <mat-form-field>
        <mat-label>Textarea</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-card-content> </mat-tab>
  <mat-tab label="Linked Accounts">
    <div class="table-reponsive w-100">
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>To/From</th>
          <th>Amount</th>
          <th>Account</th>
          <th>Payment Method</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Oct23</td>
          <td>Deposit from Client A</td>
          <td>$7,500.00</td>
          <td>Checking</td>
          <td>Wire Transfer</td>
        </tr>
        <tr>
          <td data-date="Oct24"></td>
          <td>Transfer to Ops / Payroll</td>
          <td>−$54,810.16</td>
          <td>AR</td>
          <td>Transfer</td>
        </tr>
        <tr>
          <td data-date="Oct24"></td>
          <td>Payment from Client B</td>
          <td>$2,000.00</td>
          <td>Savings</td>
          <td>Check</td>
        </tr>
        <tr>
          <td data-date="Oct25"></td>
          <td>Withdrawal</td>
          <td>−$1,000.00</td>
          <td>Checking</td>
          <td>ATM</td>
        </tr>
        <tr>
          <td data-date="Oct26"></td>
          <td>Transfer from Account X</td>
          <td>$10,000.00</td>
          <td>Checking</td>
          <td>Wire Transfer</td>
        </tr>
        <tr>
          <td data-date="Oct27"></td>
          <td>Payment from Client C</td>
          <td>$8,500.00</td>
          <td>Savings</td>
          <td>Credit Card</td>
        </tr>
        <tr>
          <td data-date="Oct27"></td>
          <td>Transfer to Ops / Payroll</td>
          <td>−$54,810.16</td>
          <td>AR</td>
          <td>Transfer</td>
        </tr>
        <tr>
          <td data-date="Oct28"></td>
          <td>Payment from Client X</td>
          <td>$5,000.00</td>
          <td>Checking</td>
          <td>Wire Transfer</td>
        </tr>
        <tr>
          <td data-date="Oct28"></td>
          <td>Withdrawal</td>
          <td>−$500.00</td>
          <td>Savings</td>
          <td>Cash</td>
        </tr>
        <tr>
          <td data-date="Oct30"></td>
          <td>Transfer from Account Y</td>
          <td>$6,200.00</td>
          <td>Checking</td>
          <td>Wire Transfer</td>
        </tr>
      </tbody>
    </table>
  </div> </mat-tab>
  <mat-tab label="Auto Transfer Rules"> Content 3 </mat-tab>
</mat-tab-group>
<!-- accounts.component.html -->
<mat-card *ngIf="showForm">
  <mat-card-content>
    <div fxLayout="column" fxLayoutGap="20px">
      <mat-form-field>
        <mat-label>Input</mat-label>
        <input matInput>
      </mat-form-field>
      <h5 class="mb-0">Transfer From:</h5>
      <mat-form-field>
        <mat-label>Select an account</mat-label>
        <mat-select>
          <mat-option value="one">Account Details</mat-option>
          <mat-option value="two">Account Details</mat-option>
        </mat-select>
      </mat-form-field>
      <h5 class="mb-0">Transfer To:</h5>
      <mat-form-field>
        <mat-label>Select an account</mat-label>
        <mat-select>
          <mat-option value="one">Account Details</mat-option>
          <mat-option value="two">Account Details</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Textarea</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>

