<h2>Review transfer details</h2>
<div>
  <p>Transfer from account XYZ to Payroll ABC</p>
  <p>
    This transfer takes upto 1 business day.
  </p>
    <div class="d-flex">
      <a mat-button [routerLink]="['/send-money-transfer-funds']" class="custom-accounts-btn mx-2">Go Back</a>
      <a mat-button [routerLink]="['/fund-transfer-reviews']" class="custom-accounts-btn">Next</a>
      <!-- <a mat-button [routerLink]="'/dashboard'" target="_blank" class="custom-filter-button">Go Back</a>
      <a mat-button href="https://www.google.com/" target="_blank" class="custom-filter-button">Next</a> -->
    </div>
</div>
