<h2 class="text-center p-2 mt-3">Who are you paying?</h2>
<div class="center-container">
  <div>
    <h4 class="fw-bold">Recipient</h4>
    <mat-card class="custom-card-width">
      <mat-card-content>
        <form class="example-form custom-paysomeone">
          <mat-form-field class="w-100 px-2">
            <mat-label></mat-label>
            <input matInput placeholder="Add Recipient" value="">
            <mat-divider></mat-divider>
            <div class="d-flex">
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="payment"></mat-icon>
              <a mat-button href="https://www.google.com/" target="_blank">Add new Recipient</a>
            </div>
            <div class="d-flex">
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="email"></mat-icon>
              <a mat-button href="https://www.google.com/" target="_blank">Invite recipient</a>
            </div>
            <p>Recently Paid</p>
            <mat-divider></mat-divider>
            <div>
              <a mat-button [routerLink]="['/paysomeone-user-details']" target="_blank">Jason Green</a>
              <a mat-button href="https://www.google.com/" target="_blank">Charle Braine</a>
              <a mat-button href="https://www.google.com/" target="_blank">Jason Green</a>
              <a mat-button href="https://www.google.com/" target="_blank">Charle Braine</a>
            </div>
          </mat-form-field>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
