<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="search-bar p-3 ms-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Search Something</mat-label>
          <mat-icon matPrefix>search</mat-icon>

          <input type="text" matInput placeholder="Type something..">
        </mat-form-field>
      </div>
    </div>
    <div class="col-3 mt-4 money_btn">
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle custom-filter-button" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white;
          background-color: #3c4b64;
          border-radius: 25px;
          padding: 8px 32px;
        ">
          Money
        </a>
        <ul class="dropdown-menu">
          <li class="p-3"><a class="dropdown-item" [routerLink]="['/pay-someone']">Pay Someone</a></li>
          <li class="p-3"><a class="dropdown-item" [routerLink]="['/add-receive-funds']">Add or Receive Funds</a></li>
          <li class="p-3"><a class="dropdown-item" [routerLink]="['/payment-request']">Payment Request</a></li>
          <li class="p-3"><a class="dropdown-item" [routerLink]="['/transfer-funds']">Transfer Funds</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

