<div class="d-flex">
  <h2>Wire Drawdowns</h2>
  <a mat-button [routerLink]="['/wiredrwdowns-recipient-details']" target="_blank" class="custom-wire mx-2">Create Authorization</a>
</div>
<div class="table-reponsive">
  <table class="table">
    <thead>
      <tr>
        <th>Created On</th>
        <th>Recipient</th>
        <th>Withdrawl Limit</th>
        <th>Pay From</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Oct10</td>
        <td>Jenifer</td>
        <td>$98,234.978</td>
        <td>Ops / payroll</td>
      </tr>
      <tr>
        <td>Oct 11</td>
        <td>Gusto</td>
        <td>$12,213.22</td>
        <td>Ops / Payroll</td>
      </tr>
      <tr>
        <td data-date="Oct27"></td>
        <td>Gusto</td>
        <td>$12,213.22</td>
        <td>Ops / Payroll</td>
      </tr>
      <tr>
        <td data-date="Oct27"></td>
        <td>Gusto</td>
        <td>$12,213.22</td>
        <td>Ops / Payroll</td>
      </tr>
      <tr>
        <td data-date="Oct27"></td>
        <td>Gusto</td>
        <td>$12,213.22</td>
        <td>Ops / Payroll</td>
      </tr>
      <tr>
        <td data-date="Oct27"></td>
        <td>Gusto</td>
        <td>$12,213.22</td>
        <td>Ops / Payroll</td>
      </tr>
      <tr>
        <td data-date="Oct27"></td>
        <td>Gusto</td>
        <td>$12,213.22</td>
        <td>Ops / Payroll</td>
      </tr>
    </tbody>
  </table>
</div>
