<div class="d-flex">
  <h2>Wire Drawdowns</h2>
  <a mat-button [routerLink]="['/wiredrwdowns-recipient-details']" target="_blank" class="custom-wire mx-2">Create Authorization</a>
</div>
<div class="table-reponsive">
  <table class="table">
    <thead>
      <tr>
        <th>Created On</th>
        <th>Recipient</th>
        <th>Withdrawl Limit</th>
        <th>Pay From</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let wiredraw of wiredrawdown">
        <td>{{wiredraw.created}}</td>
        <td>{{wiredraw.reciepient}}</td>
        <td>{{wiredraw.limit}}</td>
        <td>{{wiredraw.payfrom}}</td>
      </tr>
    </tbody>
  </table>
</div>
