<div class="table-reponsive">
  <table class="table">
    <thead>
      <tr>
        <th>Created On</th>
        <th>Recipient</th>
        <th>Withdrawl Limit</th>
        <th>Pay From</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Oct 11</td>
        <td>Gusto</td>
        <td>$12,213.22</td>
        <td>Ops / Payroll</td>
      </tr>
      <tr>
        <td>Oct 11</td>
        <td>Gusto</td>
        <td>$12,213.22</td>
        <td>Ops / Payroll</td>
      </tr>
      <tr>
        <td>Oct 11</td>
        <td>Gusto</td>
        <td>$12,213.22</td>
        <td>Ops / Payroll</td>
      </tr>
      <tr>
        <td>Oct 11</td>
        <td>Gusto</td>
        <td>$12,213.22</td>
        <td>Ops / Payroll</td>
      </tr>
      <tr>
        <td>Oct 11</td>
        <td>Gusto</td>
        <td>$12,213.22</td>
        <td>Ops / Payroll</td>
      </tr>
    </tbody>
  </table>
</div>
