.custom-card-content {
  background-color: white !important;
}

.content-container {
  display: flex;
  flex-direction: column;
  width:50% ;
}
.custom-accounts-btn {
    background-color: #321fdb !important;
    border-radius: 25px !important;
    color: white !important;
    padding: 8px 32px !important;
    margin-bottom: 16px !important;
    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px !important;
    -ms-border-radius: 25px !important;
    -o-border-radius: 25px !important;
}
