<h2>Recipient Details</h2>
<div class="center-container">
  <div>
    <mat-card class="custom-card-width">
      <mat-card-content>
        <form class="example-form custom-paysomeone">
          <div>
            <h3>What type of company will you be paying?</h3>
            <mat-radio-group [formControl]="floatLabelControl" (change)="onProfileChange()">
              <mat-radio-button value="auto">Payroll/Benifits</mat-radio-button>
              <mat-radio-button value="always">Custom</mat-radio-button>
            </mat-radio-group>
          </div>
          <div *ngIf="isPersonSelected()">
            <div>
              <h4 class="px-2 mb-0">Recipient</h4>
              <mat-form-field class="w-50">
                <mat-label>Choose a Company</mat-label>
                <mat-select>
                  <mat-option value="one">Gusto</mat-option>
                  <mat-option value="two">Trinet</mat-option>
                  <mat-option value="three">ADP</mat-option>
                  <mat-option value="four">Quebed</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <a mat-button [routerLink]="['/dashboard']" class="custom-accounts-btn mx-2">Go Back</a>
            </div>
            <!-- Add other person-related form controls here -->
          </div>

          <div *ngIf="isBusinessSelected()">
            <div>
              <h4 class="px-2 mb-0">Company Name</h4>
              <mat-form-field class="px-2 w-50">
                <input matInput placeholder="">
              </mat-form-field>
            </div>
            <div>
                <h4 class="px-2 mb-0">Routing number</h4>
                <mat-form-field class="example-full-width px-2 w-50">
                  <input matInput placeholder="" >
                </mat-form-field>
            </div>
            <div>
              <h4 class="px-2 mb-0">Account number</h4>
              <mat-form-field class="example-full-width px-2 w-50">
                <input matInput placeholder="" >
              </mat-form-field>
            </div>
            <div>
              <h4 class="px-2 mb-0">Address Line1</h4>
              <mat-form-field class="example-full-width px-2 w-50">
                <input matInput placeholder="Address Line1" >
              </mat-form-field>
            </div>
            <div>
              <h4 class="px-2 mb-0">Address Line2</h4>
              <mat-form-field class="example-full-width px-2 w-50">
              <input matInput placeholder="Address Line2">
              </mat-form-field>
            </div>
            <div>
              <h4 class="px-2 mb-0">City</h4>
              <mat-form-field class="example-full-width px-2 w-50">
                <input matInput placeholder="City">
              </mat-form-field>
            </div>
            <div>
              <h4 class="px-2 mb-0">Select Country</h4>
              <mat-form-field class="px-2 w-50">
                <select matNativeControl required>
                  <option value="payroll-two">United Kingdom</option>
                  <option value="payroll-one">India</option>
                  <option value="payroll-two">United States</option>
                  <option value="payroll-three">France</option>
                  <option value="payroll-four">Japan</option>
                </select>
              </mat-form-field>
              <!-- Add other business-related form controls here -->
            </div>
            <div>
              <h4 class="px-2 mb-0">Zipcode</h4>
              <mat-form-field  class="px-2 w-50">
                <input matInput placeholder="">
                </mat-form-field>
            </div>
            <div class="d-flex">
              <a mat-button [routerLink]="['/dashboard']" class="custom-accounts-btn mx-2">Go Back</a>
              <a mat-button [routerLink]="['/dashboard']" class="custom-accounts-btn mx-2">Next</a>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
