button.btn.btn-primary.custom-filter-button,
button.btn.btn-secondary.custom-filter-button {
  margin-right: 8px;
  padding: 8px 39px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
td {
  padding: 16px !important;
  box-shadow: inset 0 1px 0 #efeffd !important;
  background-color: #fff !important;
}
.mat-tab-labels,
.mat-tab-body-wrapper {
  flex-direction: column;
}

.vertical-layout {
  display: flex;
  flex-direction: column;
}
