<div class="container">
  <h2>Transactions</h2>
  <div class="button-container" >
    <button mat-raised-button color="primary" class="left-button" (click)="toggleCardVisibility()">Add Filter</button>
    <button mat-raised-button color="primary" class="right-button">Export All</button>
  </div>
  <mat-card  *ngIf="isCardVisible" class="w-100">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="Date"> <mat-divider></mat-divider>
        <div class="mat-tab-body-content keywordSearch">
          <div class="mat-tab-body-content DateTab">
            <div class="datepickerRangge">
              <div class="row">
                <div class="col-md-12">
                  <input type="text"
                  (change)="filterAccordingToDates(selectedDates)"
                  ngxDaterangepickerMd
                  [(ngModel)]="selectedDates"
                  [showCustomRangeLabel]="true"
                  [alwaysShowCalendars]="true"
                  [ranges]="ranges"
                  [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}"
                  startKey="start"
                  endKey="end"
                  [linkedCalendars]="true"
                  [showClearButton]="true"
                  class="form-control"
                  [showDropdowns]="true"
                  [showRangeLabelOnInput]="false"
                  [showRangeLabelOnInput]="showRangeLabelOnInput"
                  [keepCalendarOpeningWithRange]="keepCalendarOpeningWithRange"
                  placeholder="Select please..."/>


                  <label for="calendar-input" class="date-range-picker-icon fa fa-calendar"></label>
                </div>
              </div>
            </div>
          </div>
          <!-- <app-datefilter-component></app-datefilter-component>        -->
        </div>

      </mat-tab>
      <mat-tab label="Keyword"> <mat-divider></mat-divider>
        <div class="mat-tab-body-content keywordSearch">
          <mat-form-field class="w-100">
            <mat-label>Search Here2</mat-label>
            <input type="text" matInput placeholder="Type something.." [(ngModel)]="searchTerm" (input)="onSearch()" mt="5">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
          <mat-selection-list #shoes (selectionChange)="selectionChange($event)" [(ngModel)]="selected">
            <mat-list-option *ngFor="let shoe of filteredOptions" checkboxPosition="before" [value]="shoe"
              [selected]="shoesSet.get(shoe)">
              {{shoe}}
            </mat-list-option>

          </mat-selection-list>
      </div>
      </mat-tab>
      <mat-tab label="Amount"> <mat-divider></mat-divider>
        <div class="mat-tab-body-content AmountTab">
          <div class="row">
              <mat-radio-group aria-label="Select an option" class="col-md-12 mb-4">
                <div class="row">
                  <mat-radio-button value="1" class="col-md-4">Any</mat-radio-button>
                  <mat-radio-button value="2" class="col-md-4"> In (e.g. deposits, refunds)</mat-radio-button>
                  <mat-radio-button value="3" class="col-md-4">Out (e.g. purchases, charges)</mat-radio-button>
                </div>
              </mat-radio-group>
              <mat-form-field class="col-md-4">
                  <mat-label>Specific amount</mat-label>

                  <input #inputID matInput placeholder="0.00" type="number" step="0.01" pattern="\d+(\.\d{1,2})?"  (input)="filterAccordingtoSpecificAmount($event)">
                  <mat-icon matPrefix> = attach_money</mat-icon>
              </mat-form-field>
              <mat-form-field class="col-md-4">
                  <mat-label>At least...</mat-label>
                  <input #inputID matInput placeholder="0.00" type="number" step="0.01" pattern="\d+(\.\d{1,2})?" (input)="filterAccordingtoAtLeast($event)">
                  <mat-icon matPrefix> ≥ attach_money</mat-icon >
              </mat-form-field>
              <mat-form-field class="col-md-4">
                  <mat-label>No more than...</mat-label>
                  <input #inputID matInput placeholder="0.00" type="number" step="0.01" pattern="\d+(\.\d{1,2})?" (input)="filterAccordingtoNoMoreThat($event)">
                  <mat-icon matPrefix> ≤ attach_money</mat-icon>
              </mat-form-field>
          </div>
         </div>
      </mat-tab>
      <mat-tab label="GL code"> <mat-divider></mat-divider>
        <div class="mat-tab-body-content GLCodeTab">
          <mat-form-field class="w-100">
            <mat-label>Search Here3</mat-label>
            <input type="text" matInput placeholder="Type something.." [(ngModel)]="searchGl" (input)="onSearchGl()">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
            <span class="gl-code-span">GL codes</span>
            <span mat-raised-button color="primary" (click)="selectAll()" class="select-glcode">
              {{ allOptionsSelected ? 'Deselect All' : 'Select All' }}
            </span>
            <mat-divider></mat-divider>
            <mat-selection-list #glcodes (selectionChangeGl)="selectionChangeGl($event)" [(ngModel)]="selectedg">
              <mat-list-option *ngFor="let glcode of filteredGl" checkboxPosition="before" [value]="glcode"
                [selected]="glSet.get(glcode)">
                {{glcode}}
              </mat-list-option>
            </mat-selection-list>

     </div>
      </mat-tab>
      <mat-tab label="Cards"> <mat-divider></mat-divider>
        <div class="mat-tab-body-content CardsTab">
          <mat-form-field class="w-100" >
            <mat-label>Search Here1</mat-label>
            <input type="text" matInput placeholder="Type something.." [(ngModel)]="searchCard" (input)="onSearchCardChange()" />
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
          <section *ngFor="let section of filteredCards.length ? filteredCards : cards" class="cb-wrapper ms-4">
            <label class="ms-3">{{ section.label }}</label>
            <mat-divider></mat-divider>
            <mat-checkbox *ngFor="let item of section.items" class="example-margin">{{ item }}</mat-checkbox>
          </section>
     </div>
      </mat-tab>
      <mat-tab label="Method"> <mat-divider></mat-divider>
        <div class="mat-tab-body-content MethodTab" *ngFor="let taskSet of taskSets">
          <section class="example-section">
            <span class="example-list-section">
              <mat-checkbox class="example-margin"
                            [checked]="taskSet.allComplete"
                            [color]="taskSet.color"
                            [indeterminate]="someComplete(taskSet)"
                            (change)="setAll(taskSet,$event.checked)">
                {{taskSet.name}}
              </mat-checkbox>
            </span>
            <span class="example-list-section">
              <ul>
                <li *ngFor="let subtask of taskSet.subtasks">
                  <mat-checkbox [(ngModel)]="subtask.completed"
                                [color]="subtask.color"
                                (ngModelChange)="updateAllComplete(taskSet)">
                    {{subtask.name}}
                  </mat-checkbox>
                </li>
              </ul>
            </span>
          </section>
        </div>
      </mat-tab>
      <mat-tab label="Accounts"> <mat-divider></mat-divider>
        <div class="mat-tab-body-content Accounts">
              <label class="btn btn-filter">
                <input type="checkbox" name="allTrades" [value]="trade" (change)="allTrades($event)">Select All
              </label>
              <mat-divider></mat-divider>
              <ng-container *ngFor="let trd of trade">
                <label class="btn btn-filter">
                  <input type="checkbox" name="trades" [checked]="trd.selected" (change)="changeTradesByCategory($event)">{{ trd.label }}
                </label>
              </ng-container>
          </div>
      </mat-tab>
      <mat-tab label="Status"> <mat-divider></mat-divider>
        <div class="mat-tab-body-content Status">
          <div  class="content-body2">
            <section  class="cb-wrapper ms-4" >
              <mat-checkbox class="example-margin">Posted</mat-checkbox>
              <span id="Posted_filter_checkbox" class="styles__checkboxInfoText__xgrR">Money was successfully transferred.</span>
              <mat-checkbox class="example-margin">Pending</mat-checkbox>
              <span id="Posted_filter_checkbox" class="styles__checkboxInfoText__xgrR">A transfer has been initiated, and a hold may be placed on your account, but it has not completed.</span>
              <mat-checkbox class="example-margin">Failed</mat-checkbox>
              <span id="Posted_filter_checkbox" class="styles__checkboxInfoText__xgrR">No money was transferred.</span>
              <mat-checkbox class="example-margin">Canceled</mat-checkbox>
              <span id="Posted_filter_checkbox" class="styles__checkboxInfoText__xgrR">Transaction was stopped by you, a teammate, or Mercury employee before money was transferred..</span>
            </section>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Attachments"> <mat-divider></mat-divider>
        <div class="mat-tab-body-content">
          <div class="content-body">
            <div  class="content-body1 Attachments">
              <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">All</mat-radio-button>
                <mat-radio-button value="2">Has attachment</mat-radio-button>
                <mat-radio-button value="3">No attachment</mat-radio-button>
              </mat-radio-group>
              </div>
            </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
      <mat-table [dataSource]="dataSource" matSort class="transactionTable">
        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ column | titlecase }}</mat-header-cell>
            <mat-cell *matCellDef="let row" class="table-cell" [ngClass]="{'show-date': column === 'date' && isShowDate(row)}" (mouseover)="onMouseOver(row)" (mouseleave)="onMouseLeave(row)">
              <div *ngIf="column === 'date'">{{ isShowDate(row) ? row[column] : '' }}</div>
            <ng-container *ngIf="column === 'To'">
              <img *ngIf="row[column]?.imageUrl" [src]="row[column].imageUrl" alt="Profile Image" width="50" height="50"  class="profile-image" />
              {{ row[column]?.name }}
            </ng-container>
            <div *ngIf="column !== 'To' && column !== 'date'">{{ row[column] }}</div>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
</div>


