button.btn.btn-primary.custom-filter-button,
button.btn.btn-secondary.custom-filter-button {
  margin-right: 8px;
  padding: 8px 39px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
td {
  padding: 16px !important;
  box-shadow: inset 0 1px 0 #efeffd !important;
  background-color: #fff !important;
}
.mat-tab-labels,
.mat-tab-body-wrapper {
  display: flex !important;
  flex-direction: column !important;
}
.example-list-section ul li {
  list-style-type: none;
}
.vertical-layout {
  display: flex;
  flex-direction: column;
}
.table tbody tr td:first-child::before {
  content: attr(data-date);
  display: none;
  background-color: white;
  padding: 5px;
}

.table tbody tr:hover td:first-child::before {
  display: block;
}
::ng-deep mat-tab-header {
  align-self: center;
}
.mat-tab-body-content{
  padding: 0px 50px;
}

mat-tab-group {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}
mat-tab-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.content-body {
  display: flex;
  flex-direction: row;
  margin: 20px;
}
// .mat-mdc-radio-button ~ .mat-mdc-radio-button {
//   margin-left: 16px;
// }
.cb-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  flex-flow: column;
  margin-bottom: 30px;
  margin-top: 5px;
}
.styles__checkboxInfoText__xgrR {
  display: block;
  margin-left: 45px;
  color: #71718e;
  font-size: 12px;
  position: relative;
  top: -6px;
}
.mat-checkbox {
  margin-left:20px;
}

.cb-vertival {
  flex-flow: column;
}
.mat-icon{
  font-size: 16px;color: rgba(0, 0, 0, 0.6);
}

.mat-tab-body-parent{
  display: flex;
}
.mdc-text-field--filled {
  background-color: transparent!important;
  border: 1px solid #ccc;
  border-radius: 12px;
}
.accounts label {
  display: flex;
}

.accounts input {
  margin-right: 20px;
}
