<div class="container">
  <h2>Transactions</h2>
  <div class="d-flex mb-2">
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle custom-filter-button mx-1"
         href="#" role="button" data-bs-toggle="dropdown"
         aria-expanded="false" style="color:white;
        background-color: #321fdb;
        border-radius: 25px;
        padding: 8px 32px;"
        (click)="toggleCardVisibility()">
        Add Filter
      </a>
    </div>
    <button class="btn btn-secondary custom-filter-button">No Filter</button>
  </div>
  <mat-card *ngIf="isCardVisible" class="w-50">
    <div class="d-flex">
      <h4 class="px-3 py-2"> My Transactions</h4><mat-slide-toggle class="py-2"></mat-slide-toggle>
    </div>
    <mat-divider></mat-divider>
    <mat-list role="list">
      <mat-list-item role="listitem">Date</mat-list-item>
      <mat-list-item role="listitem">Keyword</mat-list-item>
      <mat-list-item role="listitem">Amount</mat-list-item>
      <mat-list-item role="listitem">Method</mat-list-item>
      <mat-list-item role="listitem">Accounts</mat-list-item>
    </mat-list>
  </mat-card>
  <div class="table-reponsive">
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>To/From</th>
          <th>Amount</th>
          <th>Account</th>
          <th>Payment Method</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Nov1</td>
          <td>Deposit from Client A</td>
          <td>$7,500.00</td>
          <td>Checking</td>
          <td>Wire Transfer</td>
        </tr>
        <tr>
          <td data-date="Nov1"></td>
          <td>Deposit from Client A</td>
          <td>$7,500.00</td>
          <td>Checking</td>
          <td>Wire Transfer</td>
        </tr>
        <tr>
          <td data-date="Nov7"></td>
          <td>Transfer to Ops / Payroll</td>
          <td>−$54,810.16</td>
          <td>AR</td>
          <td>Transfer</td>
        </tr>
        <tr>
          <td data-date="Nov9"></td>
          <td>Payment from Client B</td>
          <td>$2,000.00</td>
          <td>Savings</td>
          <td>Check</td>
        </tr>
        <tr>
          <td data-date="Nov10"></td>
          <td>Withdrawal</td>
          <td>−$1,000.00</td>
          <td>Checking</td>
          <td>ATM</td>
        </tr>
        <tr>
          <td data-date="Nov11"></td>
          <td>Transfer from Account X</td>
          <td>$10,000.00</td>
          <td>Checking</td>
          <td>Wire Transfer</td>
        </tr>
        <tr>
          <td data-date="Nov12"></td>
          <td>Payment from Client C</td>
          <td>$8,500.00</td>
          <td>Savings</td>
          <td>Credit Card</td>
        </tr>
        <tr>
          <td data-date="Nov14"></td>
          <td>Transfer to Ops / Payroll</td>
          <td>−$54,810.16</td>
          <td>AR</td>
          <td>Transfer</td>
        </tr>
        <tr>
          <td data-date="Nov16"></td>
          <td>Payment from Client X</td>
          <td>$5,000.00</td>
          <td>Checking</td>
          <td>Wire Transfer</td>
        </tr>
        <tr>
          <td data-date="Nov18"></td>
          <td>Withdrawal</td>
          <td>−$500.00</td>
          <td>Savings</td>
          <td>Cash</td>
        </tr>
        <tr>
          <td data-date="Nov20"></td>
          <td>Transfer from Account Y</td>
          <td>$6,200.00</td>
          <td>Checking</td>
          <td>Wire Transfer</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


