<div class="container">
  <h2>Transactions</h2>

  <div class="d-flex mb-2">
    <div class="filterDiv">
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle custom-filter-button mx-1"
         href="#" role="button" data-bs-toggle="dropdown"
         aria-expanded="false" style="color:white;
        background-color: #3c4b64;
        border-radius: 25px;
        padding: 8px 32px;"
        (click)="toggleCardVisibility()">
        Add Filter
      </a>
    </div>
    <span class="btn btn-secondary noFilter">No Filter Applied</span>
   </div>
    <button class="btn btn-secondary custom-filter-button ExportBtn"  (click)="exportData()"  > <mat-icon>download</mat-icon> Export All</button>
  </div>

  <mat-card *ngIf="isCardVisible" class="w-75">
    <div class="d-flex mt-2">
      <h4 class="px-3 py-2"> My Transactions</h4><mat-slide-toggle class="py-2"></mat-slide-toggle>
    </div>

    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms" class="mat-tab-body-parent">

      <mat-tab>
          <ng-template mat-tab-label>
            <!-- <mat-icon class="me-1 mt-2">calendar_today</mat-icon>  -->
            Date </ng-template>
          <mat-divider></mat-divider>
          <div class="mat-tab-body-content">
            <div class="content-body">
              <div  class="content-body1 w-50">



                <!-- Display the selected option -->
                <!-- <p>You selected: {{ selectedOption }}</p> -->

                <mat-form-field>
                  <mat-label>Select</mat-label>




                  <mat-select>
                      <mat-option value="custom" selected>Custom</mat-option>
                      <mat-option value="Last 30 days" >Last 30 days</mat-option>
                      <mat-option value="Last month">Last month</mat-option>
                      <mat-option value="Last quarter (Q3 2023)" >Last quarter (Q3 2023)</mat-option>
                      <mat-option value="This quarter (Q4 2023)" >This quarter (Q4 2023)</mat-option>
                      <mat-option value="2 quarters ago (Q2 2023)" >2 quarters ago (Q2 2023)</mat-option>
                      <mat-option value="This year" >This year</mat-option>
                      <mat-option value="All time" >All time</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div  class="content-body2">

                <mat-form-field>
                <mat-date-range-input
                [formGroup]="campaignOne"
                [rangePicker]="campaignOnePicker"
                [comparisonStart]="campaignTwo.value.start"
                [comparisonEnd]="campaignTwo.value.end">
                <input matStartDate placeholder="Start date" formControlName="start">
                <input matEndDate placeholder="End date" formControlName="end">
              </mat-date-range-input>
              <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
              <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
              <mat-date-range-picker #campaignOnePicker ></mat-date-range-picker>
             </mat-form-field>
            </div>
            </div>
          </div>
      </mat-tab>
      <mat-tab>
          <ng-template mat-tab-label>
            <!-- <mat-icon class="me-1 mt-2">search</mat-icon> -->
             Keyword</ng-template>
          <mat-divider></mat-divider>
          <div class="mat-tab-body-content">
            <div class="content-body">
              <div  class="content-body1 w-80">
                <mat-form-field appearance="fill">
                  <mat-label>Search Here</mat-label>
                  <input type="text" matInput placeholder="Type something..">
                  <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
                </div>
                <div  class="content-body2">
                  <!-- <app-search (search)="onSearch($event)"></app-search> -->

                  <mat-selection-list #shoes (selectionChange)="selectionChange($event)" [(ngModel)]="selected">
                    <mat-list-option *ngFor="let shoe of filteredOptions" checkboxPosition="before" [value]="shoe"
                      [selected]="shoesSet.get(shoe)">
                      {{shoe}}
                    </mat-list-option>
                  </mat-selection-list>

                  <p>
                    Options selected: {{shoes.selectedOptions.selected}}
                  </p>
                  <!-- <section  class="cb-wrapper ms-4" >
                    <mat-checkbox class="example-margin">Jason Green</mat-checkbox>
                    <mat-checkbox class="example-margin">Lighthouse Properties</mat-checkbox>
                    <mat-checkbox class="example-margin">Domestic Ads</mat-checkbox>
                    <mat-checkbox class="example-margin">liyah McMahon</mat-checkbox>
                    <mat-checkbox class="example-margin">Check me!</mat-checkbox>
                    <mat-checkbox class="example-margin">liyah McMahon</mat-checkbox>
                    <mat-checkbox class="example-margin">Jordi O'Donnell</mat-checkbox>
                  </section> -->
                </div>
                </div>
        </div>
      </mat-tab>
      <mat-tab>
          <ng-template mat-tab-label><mat-icon class="me-1 mt-2">last_page</mat-icon> Amount</ng-template>
          <mat-divider></mat-divider>
          <div class="mat-tab-body-content">
            <div class="content-body">
              <div  class="content-body1 Amount">
                <mat-radio-group aria-label="Select an option">
                  <mat-radio-button value="1">Any</mat-radio-button>
                  <mat-radio-button value="2"> In (e.g. deposits, refunds)</mat-radio-button>
                  <mat-radio-button value="3">Out (e.g. purchases, charges)</mat-radio-button>
                </mat-radio-group>
                </div>
                <div  class="content-body2">
                  <mat-form-field class="">
                    <mat-label>Specific amount</mat-label>
                    <input #inputID matInput placeholder="0.00">
                    <mat-icon matPrefix> = attach_money</mat-icon>
                  </mat-form-field>
                  <mat-form-field class="">
                    <mat-label>At least...</mat-label>
                    <input #inputID matInput placeholder="0.00">
                    <mat-icon matPrefix> ≥ attach_money</mat-icon>
                  </mat-form-field>
                  <mat-form-field class="">
                    <mat-label>No more than...</mat-label>
                    <input #inputID matInput placeholder="0.00">
                    <mat-icon matPrefix> ≤ attach_money</mat-icon>
                  </mat-form-field>
                </div>
            </div>
           </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label><mat-icon class="me-1 mt-2">last_page</mat-icon> GL code</ng-template>
        <mat-divider></mat-divider>
        <div class="mat-tab-body-content">
          <div class="content-body">
            <div  class="content-body1 w-80">
              <mat-form-field appearance="fill">
                <mat-label>Search Here</mat-label>
                <input type="text" matInput placeholder="Type something..">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
              </div>
              <div  class="content-body2">
                <section  class="cb-wrapper ms-4" >
                  <mat-checkbox class="example-margin">120 - Accounts Receivable</mat-checkbox>
                  <mat-checkbox class="example-margin">620 - Entertainment</mat-checkbox>
                  <mat-checkbox class="example-margin">664 - Utilities</mat-checkbox>
                  <mat-checkbox class="example-margin">668 - Wages and Salaries</mat-checkbox>
                </section>
              </div>
          </div>
         </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <!-- <mat-icon class="me-1 mt-2">last_page</mat-icon> -->
        Cards</ng-template>
      <mat-divider></mat-divider>
      <div class="mat-tab-body-content">
        <div class="content-body">
            <div  class="content-body1 w-80 card-content">
              <section  class="cb-wrapper ms-4" >
                <label class="ms-3">Your Cards</label>
                <mat-divider></mat-divider>
                <mat-checkbox class="example-margin">Jane B. ••1234 </mat-checkbox>
                <mat-checkbox class="example-margin">Jane B. ••1231</mat-checkbox>
                <mat-checkbox class="example-margin">Jane B. ••1233</mat-checkbox>
                <mat-checkbox class="example-margin">Jane B. ••1222</mat-checkbox>
              </section>
              <section  class="cb-wrapper ms-4" >
                <label class="ms-3">Others Cards</label>
                <mat-divider></mat-divider>
                <mat-checkbox class="example-margin">Aluna T. ••0330</mat-checkbox>
                <mat-checkbox class="example-margin">Jessica A. ••9914</mat-checkbox>
                <mat-checkbox class="example-margin">Landon S. ••4929</mat-checkbox>
                <mat-checkbox class="example-margin">Aluna T. ••0330</mat-checkbox>
              </section>
              <section  class="cb-wrapper ms-4" >
                <label class="ms-3">Cancelled Cards</label>
                <mat-checkbox class="example-margin">Landon S. ••4929</mat-checkbox>
                <mat-checkbox class="example-margin">Aluna T. ••0330</mat-checkbox>
                <mat-checkbox class="example-margin">Landon S. ••4929</mat-checkbox>
                <mat-checkbox class="example-margin">Aluna T. ••0330</mat-checkbox>
              </section>
            </div>
        </div>
       </div>
  </mat-tab>

      <mat-tab>
          <ng-template mat-tab-label>
            <!-- <mat-icon class="me-1 mt-2"> attach_money</mat-icon> -->
             Method</ng-template>
          <mat-divider></mat-divider>
          <div class="mat-tab-body-content" *ngFor="let taskSet of taskSets">
            <section class="example-section">
              <span class="example-list-section">
                <mat-checkbox class="example-margin"
                              [checked]="taskSet.allComplete"
                              [color]="taskSet.color"
                              [indeterminate]="someComplete(taskSet)"
                              (change)="setAll(taskSet,$event.checked)">
                  {{taskSet.name}}
                </mat-checkbox>
              </span>
              <span class="example-list-section">
                <ul>
                  <li *ngFor="let subtask of taskSet.subtasks">
                    <mat-checkbox [(ngModel)]="subtask.completed"
                                  [color]="subtask.color"
                                  (ngModelChange)="updateAllComplete(taskSet)">
                      {{subtask.name}}
                    </mat-checkbox>
                  </li>
                </ul>
              </span>
            </section>
          </div>
      </mat-tab>
      <mat-tab>
          <ng-template mat-tab-label>
            <!-- <mat-icon class="me-1 mt-2">account_balance</mat-icon> -->
             Accounts</ng-template>
          <mat-divider></mat-divider>
          <div class="mat-tab-body-content">
            <div class="content-body">
              <div  class="content-body1 accounts">
                <label class="btn btn-filter">
                  <input type="checkbox" name="allTrades" [value]="trade" (change)="allTrades($event)">Select All
                </label>
                <ng-container *ngFor="let trd of trade">
                  <label class="btn btn-filter">
                    <input type="checkbox" name="trades" [checked]="trd.selected" (change)="changeTradesByCategory($event)">{{ trd.label }}
                  </label>
                </ng-container>
              </div>
            </div>
        </div>
      </mat-tab>
      <mat-tab>
          <ng-template mat-tab-label>
            <!-- <mat-icon class="me-1 mt-2"> attach_file</mat-icon> -->
             Status</ng-template>
          <mat-divider></mat-divider>
          <div class="mat-tab-body-content">
            <div  class="content-body2">
              <section  class="cb-wrapper ms-4" >
                <mat-checkbox class="example-margin">Posted</mat-checkbox>
                <span id="Posted_filter_checkbox" class="styles__checkboxInfoText__xgrR">Money was successfully transferred.</span>
                <mat-checkbox class="example-margin">Pending</mat-checkbox>
                <span id="Posted_filter_checkbox" class="styles__checkboxInfoText__xgrR">A transfer has been initiated, and a hold may be placed on your account, but it has not completed.</span>
                <mat-checkbox class="example-margin">Failed</mat-checkbox>
                <span id="Posted_filter_checkbox" class="styles__checkboxInfoText__xgrR">No money was transferred.</span>
                <mat-checkbox class="example-margin">Canceled</mat-checkbox>
                <span id="Posted_filter_checkbox" class="styles__checkboxInfoText__xgrR">Transaction was stopped by you, a teammate, or Mercury employee before money was transferred..</span>
              </section>
            </div>

          </div>
      </mat-tab>
      <mat-tab>
          <ng-template mat-tab-label>
            <!-- <mat-icon class="me-1 mt-2">credit_card</mat-icon>  -->
            Attachments</ng-template>
          <mat-divider></mat-divider>
          <div class="mat-tab-body-content">
            <div class="content-body">
              <div  class="content-body1 Attachments">
                <mat-radio-group aria-label="Select an option">
                  <mat-radio-button value="1">All</mat-radio-button>
                  <mat-radio-button value="2">Has attachment</mat-radio-button>
                  <mat-radio-button value="3">No attachment</mat-radio-button>
                </mat-radio-group>
                </div>
              </div>
          </div>
      </mat-tab>
  </mat-tab-group>
  </mat-card>


 <mat-table [dataSource]="dataSource" matSort>

  <!-- <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ column | titlecase }}</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row[column] }}</mat-cell>

  </ng-container> -->

  <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
    <!-- <mat-header-cell *matHeaderCellDef mat-sort-header>{{ column | titlecase }}</mat-header-cell>
    <mat-cell *matCellDef="let row"> -->

      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ column | titlecase }}</mat-header-cell>
      <mat-cell *matCellDef="let row" class="table-cell" [ngClass]="{'show-date': column === 'date' && isShowDate(row)}"
              (mouseover)="onMouseOver(row)" (mouseleave)="onMouseLeave(row)">
        <div *ngIf="column === 'date'">{{ isShowDate(row) ? row[column] : '' }}</div>


      <ng-container *ngIf="column === 'To'">
        <img *ngIf="row[column]?.imageUrl" [src]="row[column].imageUrl" alt="Profile Image" width="50" height="50"  class="profile-image" />
        {{ row[column]?.name }}
      </ng-container>
      <div *ngIf="column !== 'To' && column !== 'date'">{{ row[column] }}</div>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>


</div>
