<h2>Payment Details</h2>
<div class="center-container">
  <div>
    <mat-card class="custom-card-width">
      <mat-card-content>
        <div>
          <h4 class="px-2 mb-0">Recipient</h4>
          <div class="d-flex">
            <mat-form-field class="example-full-width w-100">
              <input matInput placeholder="John Doe">
            </mat-form-field>
          </div>
        </div>
        <div>
          <h4 class="px-2 mb-0">Method</h4>
          <mat-form-field class="px-2 w-100 mb-0">
            <mat-select [formControl]="selectedOption" required>
              <mat-option value="payroll-one">ACH</mat-option>
              <mat-option value="payroll-two">Check</mat-option>
              <mat-option value="payroll-three">Wire</mat-option>
              <mat-option value="payroll-four">International Wire - USD</mat-option>
              <mat-option value="payroll-five">International Wire - Foreign Exchange</mat-option>
            </mat-select>
          </mat-form-field>
          <p *ngIf="selectedOption.value === 'payroll-one'" class="mt-0">3 business days · No fee</p>
          <p *ngIf="selectedOption.value === 'payroll-two'" class="mt-0">7-10 days · No fee</p>
          <p *ngIf="selectedOption.value === 'payroll-three'" class="mt-0">1 business day · No fee</p>
          <p *ngIf="selectedOption.value === 'payroll-four'" class="mt-0">1-5 business days · No fee for USD</p>
          <p *ngIf="selectedOption.value === 'payroll-five'" class="mt-0">6-12 business days · No fee for USD</p>
        </div>
        <div>
          <h4 class="px-2 mb-0">Recipient bank details</h4>
          <div class="d-flex">
            <mat-form-field class="example-full-width w-100">
              <input matInput placeholder="HSBC Account ••0101 · Routing ••6789">
            </mat-form-field>
          </div>
        </div>
        <div class="d-flex px-2">
          <a mat-button [routerLink]="['/dashboard']" target="_blank" class="custom-wire">Go Back</a>
          <a mat-button href="https://www.google.com/" target="_blank" class="custom-wire mx-2">Next</a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
