.table tbody tr td:first-child::before {
  content: attr(data-name);
  display: none;
  // position: absolute;
  // background-color: white;
  padding: 5px;
}

.table tbody tr:hover td:first-child::before {
  display: block;
}
