<div class="table-reponsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Last Paid</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Charles Bonito</td>
        <td>Never</td>
      </tr>
      <tr>
        <td data-name="Charles Bonito"></td>
        <td>Never</td>
      </tr>
      <tr>
        <td data-name="Charles Bonito"></td>
        <td>Oct 27</td>
      </tr>
      <tr>
        <td data-name="Charles Bonito"></td>
        <td>Never</td>
      </tr>
      <tr>
        <td data-name="Charles Bonito"></td>
        <td>Oct 27</td>
      </tr>
      <tr>
        <td data-name="Charles Bonito"></td>
        <td>Oct 27</td>
      </tr>
      <tr>
        <td data-name="Charles Bonito"></td>
        <td>Oct 27</td>
      </tr>
      <tr>
        <td data-name="Charles Bonito"></td>
        <td>Oct 27</td>
      </tr>
    </tbody>
  </table>
</div>
