.table tbody tr td:first-child::before {
  content: attr(data-name);
  display: none;
  // position: absolute;
  // background-color: white;
  padding: 5px;
}

.table tbody tr:hover td:first-child::before {
  display: block;
}
.custom-wire
{
  color: white !important;
  background-color: #321fdb;
  border-radius: 25px;
  padding: 8px 32px;
  margin-bottom: 8px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
